<!DOCTYPE html>
<html lang="en">
<head>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery-ui-1.12.0/jquery-ui.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript src="{{ url_for('static', filename='price_history.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='Chart.bundle.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='history.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui.css') }}"/>
    <meta charset="UTF-8">
    <title>היסטוריית מחירים</title>
</head>
<body>
<div id="top">
    <div class="city">
        <form id="city_form">
            <select id="city_select">
                {% for city in cities %}
                    <option id="{{ city }}" {% if city=='לוד' %} selected="selected" {% endif %}>{{ city }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="stores">
        <form id="stores_form">
        </form>
    </div>
    <div class="ui-autocomplete-input">
        <label for="search">Item Name</label>
        <input name="search" type="search" id="search">
    </div>
</div>

<div id="bottom">
    <div id="chart">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>
</body>
</html>